language: cpp
os:
  - linux
compiler:
  - clang
  - gcc

before_install:
  - sudo add-apt-repository "deb http://us.archive.ubuntu.com/ubuntu/ trusty main universe multiverse"
  - sudo apt-get update

install:
  - sudo apt-get install libpango-1.0-0 libpangocairo-1.0-0	
  - sudo apt-get install --no-install-recommends g++ gnuplot-nox python-gnuplot python-tk python-matplotlib python-scipy python-pytest libblitz0-dev cmake libboost-python1.54-dev libthrust-dev 
  - git clone --depth=1 https://github.com/boostorg/odeint.git
  - sudo mv `pwd`/odeint/include/boost/numeric/odeint.hpp /usr/include/boost/numeric/odeint.hpp
  - sudo cp -r `pwd`/odeint/include/boost/numeric/odeint /usr/include/boost/numeric/

script:

  # install libcloudphxx in Release mode
  - cd ..
  - git clone --depth=1 git://github.com/igfuw/libcloudphxx.git
  - cd libcloudphxx
  - mkdir build
  - cd build
  - cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Release ..
  - make
  - sudo make install
  - cd ../..

  # run parcel tests using Release mode of libcloudphxx
  - cd parcel
  - mkdir plots/outputs/
  - py.test -s -v unit_test/
  - py.test -s -v long_test/

  # install libcloudphxx in Debug mode
  - cd ..
  - cd libcloudphxx/build
  - cmake -DCMAKE_INSTALL_PREFIX=/usr -DCMAKE_BUILD_TYPE=Debug ..
  - make
  - sudo make install
  - cd ../..

  # run parcel unit tests using Debug mode of libcloudphxx
  - cd parcel
  - py.test -s -v unit_test/

